
.topArtists {
    background-color: #85c09f;
    width: 100%;
    height: 100vh;
    color: #bfff40;
    font-size: clamp(3rem, 3vw, 10rem);
    h2{
        padding: 3vw;
        margin-top: 0;
        font-size: clamp(3rem, 3vw, 10rem);
    }
    h3{
        // padding: 3vw;
        margin: 0;
        // transform: translateY(-20vh);
        font-size: clamp(3rem, 8vw, 20rem);
    }
    .artist {
        list-style: none;
        padding: 0.5rem;
        font-size: 2.5rem;
        font-weight: 700;
    }
    .artist-details{
        width: 80%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        img {
            width: 70%;
        }
    }

    // .artist-card {
    //     text-align: left;
    //     display: flex;
    //     justify-content: center;
    //     flex-direction: column;


    // }
}
